<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header::header}">
    <meta charset="UTF-8">
</head>
<body>

<!-- Page content -->
<div class="container blog-content-container">

    <h3 th:text="${userModel.title}">rovin</h3>
    <form action="/users" th:action="@{/users}" method="POST" th:object="${userModel.user}">
        <input type="hidden" name="id" th:value="*{id}"> Name:
        <br>
        <input type="text" name="username" th:value="*{username}">
        <br> Password:
        <br>
        <input type="text" name="password" th:value="*{password}">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>

</div>

<br>
<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>